body
{
    background-color: #f7f7f7;
}

.wrapper
{
    width: 751px;
    margin: 0px auto;
    padding-top: 20px;
    min-height: 500px;
 
}

.wrapper h1, .wrapper h4, .wrapper p, .wrapper pre, .wrapper ul, .wrapper li
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}

.wrapper li
{
    outline: 0;
    text-decoration: none;
    -webkit-transition-property: background color;
    -moz-transition-property: background color;
    -o-transition-property: background color;
    -ms-transition-property: background color;
    transition-property: background color;
    -webkit-transition-duration: 0.12s;
    -moz-transition-duration: 0.12s;
    -o-transition-duration: 0.12s;
    -ms-transition-duration: 0.12s;
    transition-duration: 0.12s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#v-nav
{
    height: 100%;
    margin: auto;
    color: #FFFFFF;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

#v-nav >ul
{
    float: left;
    width: 210px;
    display: block;
    position: relative;
    top: 0;
    border: 1px solid #DDD;
    border-right-width: 0;
    margin: auto 0 !important;
    padding:0;
}

#v-nav >ul >li
{
    width: 180px;
    list-style-type: none;
    display: block;
  
    font-size: 1.11em;
    position: relative;
    border-right-width: 0;

    margin: auto;
    padding: 10px 15px !important;
    background:#000000; /*color de fondo */
}

#v-nav >ul >li.current
{
    color: black;
    border-right: none;
    z-index: 10;
    background: #D3FE39;
    position: relative;

}

#v-nav >ul >li.first.current
{
    
}

#v-nav >ul >li.last
{
   
}

#v-nav >div.tab-content
{
    margin-left: 210px;
    border: 1px solid #ddd;
    background-color: #000; /*fondo content*/
    min-height: 400px;
    position: relative;
    z-index: 9;
    padding: 12px;

    display: none;
    padding: 25px;
}

#v-nav >div.tab-content >h4
{
    font-size: 1.2em;
    color:#fff;
    border-bottom: 1px dotted #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
